  <header class="bar">
    <div class="bar-inner">
      <a class="brand" href="{{home}}" aria-label="Replex">
        <img src="{{base}}assets/img/app-icon.webp" alt="" width="36" height="36">
        <span>Replex</span>
      </a>
      <nav class="bar-nav" aria-label="Main">
        <a href="{{navBase}}#log">{{navFeatures}}</a>
        <a href="{{navBase}}#watch">{{navWatch}}</a>
        <a href="{{navBase}}#coach">{{navCoach}}</a>
        <a href="{{navBase}}#pricing">{{navPricing}}</a>
        <a href="{{navBase}}#faq">{{navFaq}}</a>
      </nav>
      <a class="btn btn-volt btn-small" href="{{appStore}}" data-cta="header">{{navDownload}}</a>
    </div>
  </header>
